# Build results
bin/
obj/
*.dll
*.exe

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VSCode
.vscode/

# Visual Studio
.vs/

# ASP.NET Secrets
secrets.json

# Logs
*.log

# Configuration
appsettings.*.json
!appsettings.json

# Others
*.db
*.pidb
*.cache
*.pdb

# Rider (if use JetBrains)
.idea/

# macOS
.DS_Store
